name: Android CI&CD

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

     - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: GrantExePermissn-4-Gadlew
        run: chmod +x ./gradlew

      - name: Download dependencies
        run: ./gradlew build --dry-run

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk